<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <h2>Energy System Management</h2>
    </div>

    <div class="navbar-buttons">
      <button class="btn" (click)="goToHomePage()">Home</button>
      <button *ngIf="!this.isAdmin" class="btn" (click)="goToDevices()">My devices</button>
      <button *ngIf="this.isAdmin" class="btn" (click)="goToAllDevices()">All devices</button>
      <button *ngIf="this.isAdmin" class="btn" (click)="goToAllUsers()">All users</button>
      <button class="btn" (click)="viewUserDetails()">Profile</button>
      <button class="btn" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<!--<div *ngIf="newMessageNotifications.length > 0" class="notifications">-->
<!--  <h4>You have new messages:</h4>-->
<!--  <div *ngFor="let notification of newMessageNotifications" class="notification"-->
<!--       (click)="openConversation(notification)">-->
<!--    New message from: {{ notification.senderId }}-->
<!--  </div>-->
<!--</div>-->

<div class="start-chat-container">
  <h4>Select someone to chat with:</h4>
  <select [(ngModel)]="userToChatWith" class="start-select">
    <option *ngFor="let userToChat of usersToChatWith" [value]="userToChat.id.toString()">
      {{ userToChat.secondName }} ({{ userToChat.id }})
    </option>
  </select>
  <button (click)="startNewChat()" class="start-chat-button">Start Chat</button>
</div>

<!--<div *ngIf="chats.length === 0 && !isAdmin" class="no-chats">-->
<!--  <p>No active chats. Start a new conversation!</p>-->
<!--  <button (click)="startNewChat()" class="start-chat-button">Start Chat</button>-->
<!--</div>-->

<div *ngFor="let chat of chats" class="chat-container">
  <h3 class="chat-title">{{ chat.user }}</h3>

  <div *ngFor="let message of chat.messages">
    <div class="message" [class.seen]="message.seen">
      {{ message.content }}
      <span *ngIf="message.seen&&currentUser!=message.receiverId" class="seen-indicator">✔✔</span>
    </div>
  </div>


  <div *ngIf="chat.typing" class="typing-notification">
    {{ chat.user === currentUser ? 'You are typing...' : 'Is typing...' }}
  </div>

  <textarea [(ngModel)]="chat.newMessage"
            (input)="sendTypingNotification(chat.user)"
            (blur)="sendStopTypingNotification(chat.user)"
            placeholder="Write a message...">
</textarea>

  <button (click)="sendMessage(chat.user)">Send</button>
</div>


