<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <h2>Energy System Management</h2>
    </div>

    <div class="navbar-buttons">
      <button class="btn" (click)="goToHomePage()">Home</button>
      <button *ngIf="!this.isAdmin" class="btn" (click)="goToDevices()">My devices</button>
      <button *ngIf="this.isAdmin" class="btn" (click)="goToAllDevices()">All devices</button>
      <button *ngIf="this.isAdmin" class="btn" (click)="goToAllUsers()">All users</button>
      <button class="btn" (click)="viewUserDetails()">Profile</button>
      <button class="btn" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<div class="start-chat-container">
  <h4>Select someone to chat with:</h4>
  <select [(ngModel)]="userToChatWith" class="start-select">
    <option *ngFor="let userToChat of usersToChatWith" [value]="userToChat.id.toString()">
      {{ userToChat.secondName }} ({{ userToChat.id }})
    </option>
  </select>
  <button (click)="startNewChat()" class="start-chat-button">Start Chat</button>
  <button *ngIf="isAdmin" (click)="openGroupChat()" class="start-chat-button">Group Chat</button>
</div>


<div *ngFor="let chat of chats" class="chat-container">
  <div class="group-chat">
    <h3 *ngIf="chat.user === 'GROUP'" class="chat-title">Group Chat</h3>
    <h3 *ngIf="chat.user !== 'GROUP'" class="chat-title">{{ chat.user }}</h3>

    <div *ngFor="let message of chat.messages">
      <div class="message" [class.seen]="message.seen">
        <b *ngIf="chat.user === 'GROUP'">{{message.senderId}}:</b>
        {{ message.content }}
        <span *ngIf="message.seen && currentUser !== message.receiverId" class="seen-indicator">✔✔</span>
      </div>
    </div>
  </div>

  <div *ngIf="chat.typing" class="typing-notification">
    {{ chat.user === currentUser ? 'You are typing...' : 'Is typing...' }}
  </div>

  <textarea *ngIf="chat.user === 'GROUP' && isAdmin" [(ngModel)]="groupMessage"
            (input)="sendTypingNotification(chat.user)"
            (blur)="sendStopTypingNotification(chat.user)"
            placeholder="Send a message to all users"></textarea>

  <textarea *ngIf="chat.user !== 'GROUP'" [(ngModel)]="chat.newMessage"
            (input)="sendTypingNotification(chat.user)"
            (blur)="sendStopTypingNotification(chat.user)"
            placeholder="Write a message..."></textarea>

  <button *ngIf="chat.user === 'GROUP' && isAdmin" (click)="sendGroupMessage()">Send</button>
  <button *ngIf="chat.user !== 'GROUP'" (click)="sendMessage(chat.user)">Send</button>
</div>


