.alerts-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  z-index: 1000;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert p {
  margin: 0;
}

.close-btn {
  background: transparent;
  border: none;
  color: #721c24;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

.close-btn:hover {
  color: #d63333;
}
